#top {
    text-align: center;
    font-family: arial;
    background-color: rgb(114, 218, 183);
}

h3 {
    text-align: center;
    text-decoration: underline;
}

body {
    background-color: aquamarine;
    font-family: sans-serif;
}

#name {
    padding-left: 20px;
    font-family: serif ;
    font-size: 30px;
}

#email {
    text-align: right;
    font-family: serif;
    font-size: 20px;
    margin-right: 5%;
}

header {
    padding-bottom: 10px;
}

div {
    padding: 4px;
    width: 100%;
}

footer {
    text-align: center;
    background-color: rgb(114, 218, 183);
    padding: 4px;
}

#main {
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

table
{
    margin-left: 10%;
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
    margin-right: 10%;
    margin: 2%
}

td,th {
    border: 1px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    text-align: left;
}


.course-name {
    font-weight: bold;
}

#mid {
    margin: 2px;
    padding: 2px;
    text-align: left;
}

