body{
    margin: 0px;
}

.sidebar {
    width: 200px;
    position: fixed;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(222, 234, 235);
}
.sidebar-bg{
    opacity: 0.5;
}
.sidebar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    text-align: left;
}

div.content {
    margin-left: 200px;
    padding: 1px 12px;
  }

.sidebar a:hover {
    background-color: #6fa8b3;
    color: white;
}

.sidebar a.active{
    border-left: 4px blue solid;
}

#logo {
    width: 400px;
    margin: 0px;
    mix-blend-mode: darken;
    padding-left: 40%;
}

h1 {
    text-align: center;
}

#logout {
    float: right;
    margin-right: 5px;
    padding-right: 5px;
}
